OPENAI_API_KEY=xxx
OPENAI_MODEL=gpt-5.4

TAVILY_API_KEY=xxx

WEB_CRAWLER_URL=wss://euwest.cloud.lightpanda.io/mcp/sse
WEB_CRAWLER_API_KEY=xxx

WEB_PROXY=http://user:pass@host:port

LANGSMITH_API_KEY=xxx
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_PROJECT=Financial Agent

GOOGLE_API_KEY=xxx

NODE_ENV=development